{
    "presets": [
        "env","stage-0"
    ],
    "plugins": [
        "transform-runtime",
        ["import", {
            "libraryName": "iview",
            "libraryDirectory": "src/components"
          }]
    ]
}